<h1>Super Songs!!</h1>
<hr/>

<div class="login">
<p>Welcome to Super Songs! Sign up below to start posting your favourite tunes.</p>
</div>


<form method="post" action="/login">
  <div>
    <label> Your username:</label>
    <input type="text" name="username" placeholder="Choose a username">
  </div>
  <div>
    <label> Enter a password:</label>
    <input type="text" name="title" placeholder="Choose a password">
  </div>
  <div>
    <input type="submit" value="Submit!">
  </div>
</form>
