<h1>All Songs</h1>
<hr/>
<a href="/songs/new">Post a song here!</a>
<% @songs.each do |song| %>
  <div class="song">
    <h3><a href="/songs/<%= song.id %>"><%= song.title %></a> <small>(submitted by: <%= song.author %>)</small></h3>
    <p>Artist: <%= song.artist %></p>
  </div>
<% end %>
